
{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<style>
	ul {
		padding: 0;
		margin: 0;
		width: 300px;
	}
	button {
		float: right;
		cursor: pointer;
		font-size: 20px;
		position:relative;
		top:-40px;
	}
	</style>
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
				
			</div>
		</a>
		<div>
		<a href="/artists/{{ artist.id }}/edit"><button class="btn btn-default btn-lg">Edit</button></a>
	    </div>
	</li>
	{% endfor %}
</ul>
{% endblock %}